src/game/server/Release_mod_tf/server.pch
src/game/client/Release_mod_tf/client.pch
src/.vs/everything/CopilotIndices/17.13.431.34963/CodeChunks.db
src/.vs/everything/FileContentIndex/e7b9c6d0-e8b4-49b9-80cb-4de43db1b234.vsidx
src/.vs/everything/FileContentIndex/eb5bee1f-5e26-466c-8339-005a90f5431d.vsidx
src/.vs/everything/CopilotIndices/17.13.431.34963/SemanticSymbols.db
src/.vs/everything/FileContentIndex/f925b6d4-800c-486c-bc31-506b669b8876.vsidx
src/.vs/everything/v17/.suo
src/.vs/everything/v17/Browse.VC.db
src/.vs/everything/v17/DocumentLayout.backup.json
src/.vs/everything/v17/fileList.bin
src/.vs/everything/v17/DocumentLayout.json
src/.vs/everything/v17/ipch/70f1364262535f90.ipch
src/.vs/everything/v17/HierarchyCache.v1.txt
src/.vs/everything/v17/ipch/760a72ae2b5d2168.ipch
src/.vs/everything/v17/Solution.VC.db
src/.vs/everything/v17/Solution.VC.db-shm
src/.vs/everything/v17/Solution.VC.db-wal
src/.vs/everything/FileContentIndex/2c1279b8-a42b-491c-beb9-7b327e3056b5.vsidx
src/.vs/everything/FileContentIndex/7f687375-6c66-46e4-9cc1-9c91dfed7677.vsidx
game/mod_tf/cfg/config.cfg
game/mod_tf/cfg/solo/save_1162123356.txt
game/mod_tf/cfg/local_loadout_1162123356.txt
src/.vs/everything/FileContentIndex/bcead21c-6e6d-4c05-9453-0ed43999648c.vsidx
src/.vs/everything/FileContentIndex/0a6e794b-4dea-4ad5-a42b-916af6aa958f.vsidx
src/.vs/everything/FileContentIndex/300eed05-b4f2-4fef-943d-8cf688d4583f.vsidx
src/.vs/everything/FileContentIndex/ae724f13-2d36-442f-8cea-e4469fe1bcd6.vsidx
src/.vs/everything/v17/ipch/380b4664a780a066.ipch
game/mod_tf/cfg/solo/save_1162123356.txt
game/mod_tf/cfg/local_loadout_1162123356.txt
game/mod_tf/cfg/solo/save_1162123356.txt
cfg/solo/save_1162123356.txt
cfg/local_loadout_1162123356.txt
cfg/config.cfg
